
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6c615cf578c2f5db6a9623df82aacd3b
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup